/* 
    Document   : benterprise
    Created on : 2012-1-6, 13:09:20
    Author     : Irene
    Description:
        Purpose of the stylesheet follows.
*/

/*职位选择*/
.fpos a{
    display: inline-block;
    line-height: 21px;
    margin: 0 15px 10px 0;
}
.fpos div.slt_pos a{
    display: block;
    width: 304px;
    border-bottom: 1px solid #D9D9D9;
    background: #f5f5f5 url(../imgs/system/slticons.png) no-repeat right 0;
    padding: 0 20px 0 7px;
    margin: 0 0 5px 0;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: break-word;
    word-break: break-all;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.fpos div.slt_pos a:hover,
.fpos div.slt_pos a.cur_a{
    background-color: #d9eefb;
    background-position: right -21px;
}
/**************************************** 企业首页 **************************************/
div.eindex span.s_mf{
    margin-left:25px;
}
div.eindex  div.ops_filter{
    position:relative;
}
div.eindex div.en_c_r{
    position: absolute;
    width: 400px;
    top: 13px;
    *top:5px;
    right: 30px;
}
div.eindex div.en_c_r span{
    float: left;
    line-height: 30px;
}
div.eindex div.en_c_r input {
    padding-left: 3px;
    width: 180px;
}
div.eindex ul.mlist li div.info p,
div.eindex ul.mlist li div.info div{
    margin-bottom: 10px;
    width:538px;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: break-word;
    word-break: break-all;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
div.eindex span.sp{
    margin-left:20px;
}
div.eindex ul.mlist li div.info div{
    margin-bottom: 5px;
}
div.eindex ul.mlist li div.oper{
    text-align: center;
    position: relative;
}
div.eindex ul.mlist li div.oper span.big{
    font-size: 22px;
    margin: 0 10px;
}
div.eindex ul.mlist li div.oper p.date{
    margin: 0 0 35px;
}
div.eindex ul.mlist li div.oper div{
    margin-top: 10px;
}
div.eindex ul.mlist li div.oper div.lbtn{
    width:80px;
    margin:10px auto;
}
div.eindex ul.mlist li div.oper div.lbtn1{
    margin: 40px 0 0 10px;
}
div.eindex ul.mlist li div.info div.detail p{
    float: left;
    line-height: 28px;
    margin-bottom: 0;
}
div.eindex ul.mlist li div.info div.detail p.gray{
    width: 39px;
}
div.eindex ul.mlist li div.info div.detail p.des{
    width: 499px;
    white-space: normal;
    word-break: break-all;
    word-wrap:break-word;
}
div.eindex ul.mlist li div.info div.jdet{
    margin-bottom: 5px;
}
div.eindex ul.mlist li div.info div.jdet,
div.eindex ul.mlist li div.info div.jdet p.des{
    white-space: inherit;
}
div.eindex ul.mlist li div.info div.jdet p.gray{
    width: 67px;
}
div.eindex ul.mlist li div.info div.jdet p.des{
    width: 445px;
}
div.eindex .ops_filter span.are_s{
    margin-left: 115px;
}
/**************************************** 企业 - 找人才页 **************************************/
div.ftalents ul.mlist li div.info p,
div.ftalents ul.mlist li div.info div{
    margin-bottom: 10px;
    width:538px;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: break-word;
    word-break: break-all;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
div.ftalents ul.mlist li div.info p.own{
    margin-bottom: 0;
}
div.ftalents ul.mlist li div.info div{
    margin-bottom: 5px;
}
div.ftalents ul.mlist li div.info div.jdet p{
    float: left;
    line-height: 28px;
    margin-bottom: 0;
}
div.ftalents ul.mlist li div.info div.jdet{
    margin-bottom: 5px;
}
div.ftalents ul.mlist li div.info div.jdet,
div.ftalents ul.mlist li div.info div.jdet p.des{
    white-space: inherit;
}
div.ftalents ul.mlist li div.info div.jdet p.gray{
    width: 67px;
}
div.ftalents ul.mlist li div.info div.jdet p.des{
    width: 440px;
}
div.ftalents ul.mlist li div.info div div.identify{
    width: 70px;
    padding-left: 10px;
}
div.ftalents ul.mlist li div.info p.lst_p{
    margin-bottom: 0;
}
div.ftalents ul.mlist li div.oper{
    text-align: center;
    position: relative;
}
div.ftalents ul.mlist li div.oper div.lbtn{
    width:80px;
    margin:10px auto;
}
div.ftalents ul.mlist li div.oper span.big{
    font-size: 22px;
    margin: 0 10px;
}
div.ftalents ul.mlist li div.oper p{
    margin: 20px 0 0;
}
div.ftalents ul.mlist li div.oper p.date{
    margin: 0 0 35px;
}
div.ftalents ul.mlist li div.oper div{
    margin-top: 10px;
}
/**************************************** 企业 - 找猎头页 **************************************/
div.efagent .mlist span.po{
   margin: 0 8px 0 8px;
}
div.efagent ul.mlist li div.info p.lst_p{
    margin-top: 10px;
}
div.efagent .mlist .info .bname{
    height:30px;
}
div.efagent .mlist .info .bname span{
    margin-right:10px;
}
div.efagent .mlist .info  .shdes span{
    display: block;
    width:40px;
}
div.efagent .mlist .info  .shdes span,
div.efagent .mlist .info  .shdes div{
    float:left;
}
div.efagent .mlist .info  .shdes{
    line-height: 30px;
}
div.efagent .mlist .info  .shdes div{
    width:490px;
    overflow:hidden;
}
div.efagent .mlist .info .b_bot{
    margin:10px 0 5px 0;
}
div.efagent .mlist .info span.s_mf{
    margin-left:20px;
}
div.efagent .mlist  .oper p{
    text-align: center;
}
div.efagent .mlist  .oper p.l_s{
    padding-top: 30px;
   line-height: 20px;
}
div.efagent .mlist  .oper p{
    height:25px;
}
div.efagent ul.mlist li div.info div{
    margin-bottom: 5px;
}
div.efagent ul.mlist li div.info div.detail p{
    float: left;
    line-height: 28px;
    word-break: break-all;
    word-wrap:break-word;
    margin-bottom: 0;
}
div.efagent ul.mlist li div.info div.detail p.gray{
    width: 39px;
}
div.efagent ul.mlist li div.info div.detail p.des{
    width: 470px;
    white-space: normal;
    word-break: break-all;
    word-wrap:break-word;
}
div.efagent ul.mlist li div.oper div.lbtn{
    width:80px;
    margin:40px 0 15px 0;
} 
div.efagent div.ops_filter{
    position:relative;
}
div.efagent .el{
   width:350px;
}
div.efagent div.ec{
    width:100%;
    height:30px;
   float:left;
   line-height:30px;
    margin-top:10px;
}
div.efagent .er{
    position: absolute;
    width:400px;
    top:13px;
    *top:11px;
    right:30px;
}
div.efagent .er span{
    float:left;
    line-height: 30px;
}
div.efagent .chos_area{
    float:left;
    margin-left:10px;
    position: relative;
}
div.efagent .er input{
    padding-left:3px;
    width:180px;
}
div.efagent .chos_area input#pc_fil{
      width:50px;
    cursor: pointer;
    border:1px solid #ddd;
}
div.efagent .er .pm{
    position:absolute;
    right:5px;
    top:7px;
}
div.data_cover div.select_bg div.select_cont div.content ul li{
    line-height: 35px;
    padding-left: 30px;
}
div.data_cover div.select_bg div.select_cont div.content ul li input{
    margin-right: 10px;
}
div.data_cover div.select_bg div.select_cont div.content ul li span.red{
    margin:0 5px;
}
/**************************************** 企业 - 招聘页/发布职位 **************************************/
div.enterinvite ul.mlist li div.info div.jdet p{
    float: left;
    line-height: 28px;
    margin-bottom: 0;
}
div.enterinvite ul.mlist li div.info div.jdet{
    margin-bottom: 43px;
}
div.enterinvite ul.mlist li div.info div.jdet,
div.enterinvite ul.mlist li div.info div.jdet p.des{
    white-space: inherit;
}
div.enterinvite ul.mlist li div.info div.jdet p.gray{
    width: 67px;
}
div.enterinvite ul.mlist li div.info div.jdet p.des{
    width: 440px;
}
div.enterinvite ul.mlist li div.oper div.lbtn{
    width:90px;
    margin:10px auto;
}
div.enterinvite ul.mlist li div.oper a.comp{
    position: absolute;
    cursor: pointer;
    background: url('../imgs/system/icons.png') no-repeat -137px -317px;
    top: -8px;
    height: 20px;
    width: 15px;
    right: 30px;
    background-position: -197px -267px;
}
div.enterinvite ul.mlist li div.oper a.comp:hover{
     top: -2px;
    background-position: -197px -287px;
}
div.enterinvite ul.mlist li div.info p{
    margin-bottom: 10px;
    width:100%;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: break-word;
    word-break: break-all;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
div.enterinvite ul.mlist li div.info p span.red{
    cursor: pointer;
}
div.enterinvite ul.mlist_s li div.info span.s_mf{
    margin-left:20px;
}
div.enterinvite ul.mlist li div.info p.lst_p{
    margin-bottom: 0;
}
div.enterinvite ul.mlist li div.oper{
    text-align: center;
    position: relative;
}
div.enterinvite ul.mlist li div.oper span.big{
    font-size: 22px;
    margin: 0 10px;
}
div.enterinvite ul.mlist li div.oper span.gray{
    display: inline-block;
}
div.enterinvite ul.mlist li div.oper span.hascls{
    margin-top: 60px;
}
div.enterinvite ul.mlist li div.oper p{
    margin: 20px 0 0;
}
div.enterinvite ul.mlist li div.oper div{
    margin-top: 10px;
}
div.enterinvite ul.mlist_l li div.oper span.big{
    font-size: 20px;
    margin: 0 5px;
}
div.enterinvite p.title{
    margin: 20px 0 0 20px;
}
div.enterinvite p.ctitle{
    margin:20px 0 0 20px;
}
div.enterinvite p.sys_note{
    text-indent: 20px;
}
div.enterinvite p.sys_note a.blue{
    text-decoration: underline;
}
div.enterinvite div.tb_title{
    margin: 20px 0 20px 85px;
}
div.enterinvite div.tb_title span.title{
    margin-right: 10px;
}
div.enterinvite table.tb{
    margin: 10px 0 35px 85px;
    border-bottom: none;
}
div.enterinvite table.tb_all{
    margin-left: 71px;
}
div.enterinvite table.tb td{
    padding-bottom: 15px;
}
div.enterinvite table.tb td.ltd{
    text-align: right;
    padding-right: 20px;
}
div.enterinvite table.tb td.ltop{
    vertical-align: top;
}
div.enterinvite table.tb td input[type='text']{
    height: 25px;
    width: 315px;
}
div.enterinvite table.tb  td input.lontxt{
    width:335px;
}
div.enterinvite table.tb td input.defpay{
    height: 22px;
    width: 75px;
}
div.enterinvite table.tb td input.sm_input{
    width: 182px;
}
div.enterinvite table.tb td input.percount{
    width: 35px;
}
div.enterinvite table.tb td select{
    width: 85px;
    border: 1px solid #DDD;
}
div.enterinvite table.tb td select.scbox{
    width:150px;
}
div.enterinvite table.tb td select.pay{
    width: 110px;
}
div.enterinvite table.tb td div.info{
    width:335px;
    border:1px solid #ddd;
    color:#686868;
    min-height:80px;
    padding:0 5px;
}
div.enterinvite div.t_item p.liner{
    height: 1px;
    border-bottom: 1px solid #ddd;
    width: 770px;
    margin-left: 10px;
}
div.enterinvite table.tb td input.mselect{
    min-width: 140px;
}
div.enterinvite table.tb td input.qual_select{
    min-width: 315px;
    margin-right: 10px;
}
div.enterinvite table.tb td p.lf{
    padding-left: 20px;
    line-height: 25px;
}
div.enterinvite table.tb tr.lst_tr td{
    padding-top: 5px;
    padding-bottom: 10px;
}
div.enterinvite table.tb tr.lst_tr td.ltd{
    vertical-align: top;
}
div.enterinvite table.tb td textarea{
    width: 335px;
    height: 75px;
}
div.enterinvite table.tb td  div.lontxt{
    width: 335px;
    height: 27px;
    overflow: hidden;
    line-height: 27px;
    border: 1px solid #DDD;
    padding: 0 5px;
    color:#686868;
}
div.enterinvite .pb_op{
    margin-top:20px;
    border-top:1px solid #ddd;
}
div.enterinvite .pb_op a.btn{
    line-height: 40px;
}
div.enterinvite .pb_op h2.p_info{
    padding: 15px 0 10px 45px;
    font-size: 14px;
}
div.enterinvite .me_or{
    width:30px;
    height:30px;
    margin:40px 0 0 0;
    font-size:16px;
}
div.enterinvite .pb_s{
    margin: 30px 90px 0 190px;
}
div.enterinvite  .pb_a{
   margin:30px 0 0 90px;
}
div.enterinvite .pb_s,
div.enterinvite .pb_a{
    width:120px;
}
div.enterinvite div.t_l p{
    line-height: 30px;
}
div.enterinvite .l_tip{
     margin: 15px 0 0 190px;
}
div.enterinvite .r_tip{
     margin:15px 17px 0 0;
}
div.enterinvite .pb_op a.btn{
  font-size: 18px;
  word-spacing: 2px;
}
div.enterinvite .po_mid{
    width:230px;
}
/* 列表里的详细列表模版样式 */
div.enterinvite div.mlist_list{
    background-color: #EFF8FE;
    border: 1px solid #D7ECFA;
    margin:10px 0 0 20px;
    position: relative;
}
div.enterinvite div.mlist_list p.more{
    text-align: right;
    line-height: 35px;
    padding:8px 5px 0 0;
}
div.enterinvite ul.mlist_l{
    border-top: none;
    padding: 0 3px;
    margin-top: 0;
}
div.enterinvite ul.mlist_l li div.info p {
    margin-bottom: 10px;
    width: 560px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
div.enterinvite div.mlist_list p.res_tri{
    position: absolute;
    top:-10px;
    left: 60px;
    width: 20px;
    height: 10px;
    background: url(../imgs/system/icons.png) no-repeat -35px -308px;
}
div.enterinvite ul.mlist_l li div.oper em.ident_pic{
    right: -14px;
}
div.enterinvite ul.mlist_l li{
    border-bottom: 1px solid #D7ECFA;
}
div.enterinvite ul.mlist_l li div.photo{
    width:45px;
    padding-left: 10px;
}
div.enterinvite ul.mlist_l li div.photo img{
    border-width: 2px;
    border-style: solid;
    border-color:#fff;
    width: 45px;
    height: 45px;
}
div.enterinvite ul.mlist_l li div.photo img.hoved_bg
{
     border-color: #fff;
    -webkit-box-shadow:0px 1px 3px #666;
    -moz-box-shadow:0px 1px 3px #666;
    -o-box-shadow:0px 1px 3px #666;
    -khtml-box-shadow:0px 1px 3px #666;
}
div.enterinvite ul.mlist_l li div.info{
    width: 560px;
    padding-left: 0;
}
div.enterinvite ul.mlist_l li div.oper{
    margin-right: 0;
    width: 100px;
    position: relative;
}
div.enterinvite ul.mlist_l li div.info p.lst_p{
    margin-bottom: 0;
    width:477px;
}
div.enterinvite ul.mlist_l li div.photo div.care_name,
div.enterinvite ul.mlist_l li div.photo div.care_name a.name,
div.enterinvite ul.mlist_l li div.photo div.care_name a.carebtn {
    width: 45px;
}
