/********************************* 后台我的账单页 *********************************/
/********************************* module_3 *********************************/
div.bill div.module_3 div.t_item{
    border-top: none;
}
div.bill div.module_3 div.t_item div.filter{
    padding: 15px 20px;
}
div.bill div.module_3 div.t_item div.filter input{
    margin: 0 5px 0 20px;
}
div.bill div.module_3 div.pages{
    position: relative;
    margin-bottom: 150px;
}
div.bill div.module_3 div.pages div.pagination{
    position: absolute;
    top: 40px;
    right: -4px;
}
div.bill div.module_3 div.recharge{
    padding: 20px;
}
div.bill div.module_3 div.t_item div.u_info{
    padding: 20px 20px 5px 100px;
}
div.bill div.module_3 div.t_item div.u_info span{
    display: inline-block;
}
div.bill div.module_3 div.t_item div.u_info span.u_title{
    width: 75px;
}
div.bill div.module_3 div.t_item div.u_info input.u_input{
    margin-right: 5px;
    height: 25px;
}
div.bill div.module_3 div.t_item p.title{
    border-top: 1px solid #e8e8e8;
    margin:35px 0;
    padding-top: 35px;
}
div.bill div.module_3 div.t_item div.pay_way div.p_w_item{
    width: 100px;
    text-align: center;
    margin-right: 20px;
}
div.bill div.module_3 div.t_item div.pay_way div.p_w_item img{
    margin-bottom: 10px;
}
div.bill p.directions {
    border-top: 1px solid #e8e8e8;
    line-height: 30px;
    padding-top: 5px;
}
div.bill div.pay_way{
    height:50px;
}
div.bill ul.cg li{
    float:left;
    cursor: pointer;
    width:100px;
    position:relative;
    height:30px;
    margin:0 20px 0 30px;
}
div.bill  div.module_3 ul.cg li span.pointer{
    display: block;
    position: absolute;
    height: 13px;
    width: 20px;
    top: 40px;
    left: 45px;
    overflow: hidden;
    background: url('../imgs/system/icons.png') no-repeat -1px -210px;
    border: none;
}
div.bill  div.module_3 div.mod{
    padding:20px 0 80px 20px;
    border-top:2px solid #8BC2E6;
}
div.bill  div.module_3 div.mod div.m1 p{
    line-height: 35px;
}
div.bill div.module_3  div.chrbtn{
    width: 120px;
    margin:15px 0 0 20px;
}
div.bill div.module_3 div.t_item div.chrbtn input{
    background: none;
    border: none;
    width: 100%;
    height:40px;
    line-height: 38px;
    font-size:18px;
    text-align: center;
}
div.bill div.module_3 div.mod .info{
    width:680px;
    margin:15px 0 25px 0;
    overflow: hidden;
}
div.bill div.module_3 div.mod .info span.comom {
    float: left;
    width:80px;
    font-size:18px;
    display:inline-block;
}
div.bill div.module_3 div.mod .info span.comom  em{
    font-size:24px;
    margin:0 5px 0 5px;
    font-style:italic;
}
div.bill div.module_3 div.mod .info p.des{
    float:left;
    width:600px;
    padding-top: 4px;
    line-height: 30px;
}
div.bill div.module_3 div.mod .info p.fs{
    width:250px;
}
div.bill div.module_3 div.mod .info div.odr{
    margin-top: 5px;
    float:left;
    height:26px;
    line-height: 18px;
}
div.bill div.module_3 div.mod .info div.odr em.red{
    margin-left:15px;
    font-size:22px;
}
div.bill div.module_3 div.mod .info .g_n{
    width:80px;
    margin-top: 5px;
    float:left;
}
div.bill div.module_3 div.mod .info  .g_n a.btn{
    line-height: 25px;
}
div.bill div.module_3 div.mod  .bk{
    width:700px;
    position: relative;
    margin:15px 0 60px 0;
    height:155px;
    background:#fcf9f4;
}
div.bill div.module_3 div.mod  .bk div.icbc{
    width: 200px;
    height:105px;
    margin:25px 0 25px 20px;
}
div.bill div.module_3 div.mod  .bk  .ic_lg{
    width: 108px;
    height: 23px;
    background: url('../imgs/system/badge.png') no-repeat -220px -138px;
    margin: 45px 0 25px 50px;
}
div.bill div.module_3 div.mod  .bk div.icbc div.devsion{
    width: 1px;
    height: 109px;
    background: url('../imgs/system/badge.png') no-repeat 0 0;
    margin: 0 0 25px 40px;
}
div.bill div.module_3 div.mod  .bk div.ac_detail{
    width:460px;
    height:105px;
    margin:25px 0 25px 20px;
}
div.bill div.module_3 div.mod  .bk div.ac_detail p{
    margin:5px 0 5px 0;
}
div.bill div.module_3 div.mod  .bk div.l_sdow,
div.bill div.module_3 div.mod  .bk div.t_ad,
div.bill div.module_3 div.mod  .bk div.r_sdow{
    position:absolute;
    background:url('../imgs/system/badge.png') no-repeat;
}
div.bill div.module_3 div.mod  .bk div.l_sdow,
div.bill div.module_3 div.mod  .bk div.r_sdow{
    width:215px;
    height:27px;
    bottom:-27px;
}
div.bill div.module_3 div.mod  .bk div.l_sdow{
    left:0;
    background-position:-1px -98px;
}
div.bill div.module_3 div.mod  .bk div.r_sdow{
    right: 0;
    background-position: -1px -130px;
}
div.bill div.module_3 div.mod  .bk div.t_ad{
    width: 98px;
    height: 89px;
    top: -5px;
    right: -9px;
    background-position: -297px 1px;
}
div.bill div.module_3 div.mod  .bk div.ac_detail span.gray{
    display:inline-block;
    width:80px;
    text-align: right;
    padding:5px 10px 5px 10px;
}
div.bill div.module_3 div.mod p.gray{
    margin:10px 0 5px 0;
}
div.bill .mcols div.f_cl a:hover{
    color: #232323;
}