/* 
    Document   : blog_1.0
    Created on : 2012-3-23, 11:16:44
    Author     : Irene
    Description:
        Purpose of the stylesheet follows.
*/
/**************************************** 资讯 - 行业心得发布页 ***************************************/
div.info_hder{
    width: 100%;
    height: 30px;
    background-color:#F9F9F9;
    text-align: center;
  border-bottom: 1px solid #DDD;
}
div.info_hder div.tp_ct{
    width: 980px;
    line-height: 30px;
    margin: 0 auto;
    text-align: left;
}
div.info_hder div.tp_ct a{
    color: #00589A;
    margin-left: 15px;
}
div.blogpublish div.sm_tab .sub_title{
    padding-left: 20px;
}
div.blogpublish div.t_container div.t_item{
    padding: 20px;
}
div.blogpublish div.t_container div.t_item span.gray,
div.blogpublish div.t_container div.t_item p.gray{
    font-size: 12px;
    line-height: 30px;
}
div.blogpublish div.t_container div.t_item span.gray{
    padding-top: 25px;
}
div.blogpublish div.t_container div.t_item div.atitle{
    margin: 30px 0 20px;
}
div.blogpublish div.t_container div.t_item div.atitle input,
div.blogpublish div.t_container div.t_item textarea{
    border-color: #ddd;
}
div.blogpublish div.t_container div.t_item p.txttitle{
    border: 1px solid #ddd;
    width: 733px;
    line-height: 40px;
    padding-left: 7px;
    margin-bottom: 0;
    border-bottom: none;
}
div.blogpublish div.t_container div.t_item div.atitle input{
    width: 200px;
    height: 25px;
}

div.blogpublish div.t_container div.t_item div.art_src{
    margin-top: 20px;
}
div.blogpublish div.t_container div.t_item div.art_src input{
    width: 683px;
}
div.blogpublish div.t_container div.t_item textarea{
    width: 730px;
    height: 410px;
}
div.blogpublish div.t_container div.t_item .pb_op{
    margin-top: 20px;
}
div.blogpublish div.t_container div.t_item .pb_op a.btn{
    line-height: 40px;
}
div.blogpublish div.t_container div.t_item .pb_op h2.p_info{
    padding: 15px 0 10px 45px;
    font-size: 14px;
}
div.blogpublish div.t_container div.t_item .me_or{
    width: 30px;
    height: 30px;
    margin: 35px 0 0 0;
    font-size: 16px;
}
div.blogpublish div.t_container div.t_item .pb_s{
    margin: 25px 95px 0 125px;
}
div.blogpublish div.t_container div.t_item  .pb_a{
    margin: 25px 0 0 85px;
}
div.blogpublish div.t_container div.t_item .pb_s,
div.blogpublish div.t_container div.t_item .pb_a{
    width: 140px;
}
div.blogpublish div.t_container div.t_item .pb_op a.btn{
    font-size: 20px;
    word-spacing: 2px;
}
div.blogpublish .po_mid{
    width: 230px;
}
/**************************************** 资讯 - 行业心得管理页 ***************************************/
div.blogmanage .mcols div.f_cl{
    width: 340px;
}
div.blogmanage .mcols div.s_cl{
    width: 50px;
}
div.blogmanage .mcols div.t_cl{
    width: 99px;
}
div.blogmanage .mcols div.fr_cl{
    width: 70px;
}
div.blogmanage .mcols div.fv_cl{
    width: 110px;
    float: left;
    position: relative;
    text-align: right;
}
div.blogmanage .mcols_title div.fv_cl{
    text-align: left;
}
div.blogmanage .mcols div.fv_cl a.unpro{
    position: absolute;
    top: 20px;
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background: url('../imgs/system/icons.png') no-repeat -137px -317px;
}
div.blogmanage .mcols div.fv_cl a.dele{
    background-position: -184px -272px;
    left: 0;
}
div.blogmanage ul.mcols li div.fv_cl a.dele:hover{
    background-position: -184px -287px;
}
div.blogmanage .mcols div.fv_cl a.edit{
    background-position: -143px -230px;
    left: 25px;
}
div.blogmanage .mcols div.fv_cl a.edit:hover{
    background-position: -142px -245px;
}
/*****************************************行业心得页面显示页******************************/
div.blogindex{
    padding-top: 0;
    margin-top: 0;
}
div.m_na div.m_c{
    margin-bottom:25px;
    font-size: 12px;
    overflow:hidden;
}
div.m_na  h2.m_t{
    height:30px;
    line-height: 30px;
    font-size:16px;
    padding:0 10px 0 10px;
    background:url('../imgs/system/btn.png') repeat-x 0 -540px;
}
div.m_na  h2.m_t a.more{
    font-size:12px;
}
div.m_na ul li{
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    padding:15px 10px 0px 10px;
}
div.layout1_nl{
    width:700px;
    float:left;
    margin-right:40px;
}
div.layout1_nr{
    width:240px;
    float:right;
    overflow:hidden;
}
div.blogmanage div.sub_title a.list_title{
    cursor:default;
}
div.blogmanage ul.bcom li div.bcount{
    width:115px;
    overflow:hidden;
    padding:40px 0 10px 10px;
    margin-right:20px;
    text-align: center;
}
div.blogmanage ul.bcom li div.bcount div.cnber{
    font-size:36px;
    color:#A4E631;
}
div.blogmanage ul.bcom li div.bcount div.cbg{   
    margin-bottom: 5px;
    height: 8px;
    width:115px;
    background:url('../imgs/system/icons.png') no-repeat -69px -120px;
}
div.blogmanage ul.bcom li div.bdetail{
    width:555px;
    overflow: hidden;
    padding-bottom: 10px;
}
div.blogmanage ul.bcom li div.bdetail div.zx_title{
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    padding-left:10px;
    white-space: nowrap;
    overflow:hidden;
}
div.blogmanage ul.bcom li div.bdetail div.zx_title a{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 550px;
}
div.blogmanage ul.bcom li div.bdetail div.shares,
div.blogmanage ul.bcom li div.bdetail a.rf{
    font-size: 12px;
}
div.blogmanage ul.bcom li div.bdetail .z_deil{
    word-break: break-word;
    word-wrap:break-all;
    margin:10px 0 10px 0;
    line-height: 25px;
    text-indent: 2em;
}
div.blogmanage ul.bcom li div.bdetail span.pd{
    margin-left:20px;
}
div.blogmanage ul.bcom li div.bdetail p.gray a.blue{
    font-size:14px;
    margin-right:10px;
}
div.blogmanage ul.bcom li div.bdetail p.clr{
    height:1px;
}
div.blogmanage ul.bcom li{
    padding: 20px 0 5px 0;
    overflow: hidden;
    border-bottom: 1px dashed #DDD; 
}
div.blogmanage ul.bcom li.no-data{
    text-align: center;
    padding:15px 0 15px 0;
}
div.blogmanage ul.bcom li span,
div.blogmanage ul.bcom li a{
    display: inline-block;
}
div.blogmanage ul.bcom li span.source{
    max-width:100px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
div.blogmanage ul.bcom li span.shre{
    position: relative;
    display: inline-block;
    height: 16px;
    width: 60px;
}
div.blogmanage ul.bcom li span.shre div.shares {
    margin-top: 2px;
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
}
/*赞、分享样式*/

/*div.blogindex ul.bcom li div.bdetail div.gray{
    position: relative;
}
div.blogindex ul.bcom li div.bdetail div.sharebar_toolbox{
    position: absolute;
    top: 0;
    right: -143px;
}*/
div.blogmanage div.layout1_nr div.m_na{
    margin-top: 5px;
}
div.blogmanage div.layout1_nr div.m_na div.ad1,
div.blogmanage div.layout1_nr div.m_na div.ad2{
    margin-bottom: 10px;
}
div.blogmanage a.good{
    width: 18px;
    height: 18px;
    background: url(../imgs/system/icons.png) no-repeat -164px -209px;
    display: inline-block;
    position: relative;
    margin: 0 3px 0 -4px;
}
div.blogmanage a.good:hover{
    background-position: -183px -209px;
}
div.blogmanage div.shares{
    float: right;
    width: 190px;
    margin-top: 2px;
}
div.blogindex div.shares{
    width: 60px;
}
div.blogmanage div.shares a.share{
    width: 16px;
    height: 16px;
    background: url(../imgs/system/icons.png) no-repeat;
    display: inline-block;
    margin-right: 3px;
    float: left;
}
div.blogmanage div.shares span.lf{
    margin-top: -2px;
}
div.blogmanage div.shares a.shr_1{
    background-position: 0 -16px;
}
div.blogmanage div.shares a.shr_1:hover{
    background-position: 0 -34px;
}
div.blogmanage div.shares a.shr_2{
    background-position: 0 -52px;
}
div.blogmanage div.shares a.shr_2:hover{
    background-position: 0 -70px;
}
div.blogmanage div.shares a.shr_3{
    background-position: 0 -88px;
}
div.blogmanage div.shares a.shr_3:hover{
    background-position: 0 -106px;
}
/**************************************** 资讯详细页 ***************************************/
div.infodetail div.sm_tab div.sub_title{
    display:inline-block;
    font-size:14px;
    top:-5px;
}
div.infodetail div.sm_tab div.sub_title a.mn:hover{
    color:#232323;
    cursor: default;
}
div.infodetail{
    padding-top: 0;
    margin-top: 0;
}
div.infodetail div.shares {
    margin: 0 0 0 15px;
    position: absolute;
    right: -115px;
    top: 5px;
    *top: 0;
}
div.infodetail div.shares span.lf{
    margin-top: -1px;
}
div.infodetail div.t_container div.t_item p.bt_bdr{
    height: 1px;
    border-bottom: 1px solid #cbcbcb; 
}
div.infodetail div.t_container div.t_item h2.blue{
    font-size: 18px;
    text-align: center;
    padding: 25px 0 10px 0;
}
div.infodetail div.t_container div.t_item p.gray{
    text-align: center;
}
div.infodetail div.t_container div.t_item p.hte{
    margin: 20px 0 100px;
    border-top: 1px solid #D8D8D8;
    padding-top: 5px;
}
div.infodetail div.t_container div.t_item p.hte a.blue{
    display: inline-block;
    max-width:300px;
    overflow:hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
div.infodetail div.t_container div.t_item p.hte a:hover{
    text-decoration: underline;
}
div.infodetail div.t_container div.t_item div.sr_cont{
    margin: 10px 0;
    padding: 0 15px;
    position: relative;
}
div.infodetail div.t_container div.t_item div._about{
    width: 560px;
}
div.infodetail div.t_container div.t_item div.content{
    margin-top: 20px;
    line-height: 24px;
    display: none;
    padding: 0 15px;
}
div.infodetail div.t_container div.t_item p.art_source{
    padding: 30px 0 20px 15px;
}
div.infodetail div.t_container div.t_item div.loading{
    position: relative;
    height: 160px;
    border: none;
}
div.infodetail div.t_container div.t_item div.loading p{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -18px;
    margin-left: -18px;
    background: url(../imgs/system/loading.gif) no-repeat 0 0;
}
div.infodetail div.t_container div.t_item p.green{
    line-height: 35px;
    margin-top: 5px;
    padding: 0 15px;
}
div.infodetail div.t_container div.t_item div.publisher{
    width: 660px;
    border-top: 2px solid #76B704;
    padding: 7px 15px 0 30px;
    margin: 0 auto;
    background-color: #fafbf4;
}
div.infodetail div.t_container div.t_item div.publisher div.photo{
    width: 65px;
    margin-right: 20px;
    padding-top: 5px;
}
div.infodetail div.t_container div.t_item div.publisher div.photo a img.psmall{
    border: none;
}
div.infodetail div.t_container div.t_item div.publisher div.photo a.name{
    display: block;
    width: 65px;
    text-align: center;
    font-size: 12px;
    margin: 5px 0;
}
div.infodetail div.t_container div.t_item div.publisher div.info{
    width: 570px;
    line-height: 30px;
}
div.infodetail div.t_container div.t_item div.publisher div.intro{
    width: 560px;
}
div.infodetail div.t_container div.t_item div.publisher div.intro p.gray{
    width: 40px;
    text-align: left;
}
div.infodetail div.t_container div.t_item div.publisher div.intro p.detail{
    width: 515px;
}
div.infodetail div.t_container div.t_item div.publisher div.auth_bot{
    width: 705px;
    border-top: 1px solid #efefef;
    margin: 15px 0 0 -30px;
    background-color: #fff;
}
div.infodetail div.t_container div.t_item div.publisher div.auth_bot p{
    width: 215px;
    height: 25px;
    background: #fff url('../imgs/system/badge.png') no-repeat;
}
div.infodetail div.t_container div.t_item div.publisher div.auth_bot p.lf{
    background-position: -1px -98px;
    margin-left: 0;
}
div.infodetail div.t_container div.t_item div.publisher div.auth_bot p.rf{
    background-position: -1px -130px;
    margin-right: 0;
}
div.infodetail div.t_container div.t_item div.publisher p.rmp{
    text-align: right;
}
/*****************************举报样式********************************/
div.infodetail div.t_container div.t_item div.sr_cont a.complain{
    padding-left: 10px;
    float: right;
    *float: none;
    *margin-left:350px;    
    margin:4px 80px 0 0;
}
div.infodetail div.t_container div.t_item div.sr_cont a.complain span._m{   
    background:url('../imgs/system/icons.png') no-repeat -42px -203px;        
    margin-right: 5px;
    float: none;
    position: relative;
    top:5px;    
}