/*职位选择*/
.fpos a{
    display: inline-block;
    line-height: 21px;
    margin: 0 15px 10px 0;
}
.fpos div.slt_pos a{
    display: block;
    width: 290px;
    border-bottom: 1px solid #d9d9d9;
    background: #f5f5f5 url(../imgs/system/slticons.png) no-repeat right 0;
    padding: 0 20px 0 7px;
    margin: 0 0 5px 0;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: break-word;
    word-break: break-all;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.fpos div.slt_pos a:hover,
.fpos div.slt_pos a.cur_a{
    background-color: #d9eefb;
    background-position: right -21px;
}
.fpos div.slt_pos a.undo{
    background-image: none;
    border-right: 1px solid #d9d9d9;
}
/********************************* 后台人才 *********************************/
div.tindex .module_2{
    margin-bottom: 20px;
}
div.tindex .module_l{
    border-right:none;
}
div.tindex .module_2{
    width: 788px;
}
/*人才首页*/
div.tindex ul.mlist li div.oper,
div.fjobs ul.mlist li div.oper{
    position: relative;
    text-align: center;
}
div.tindex ul.mlist li div.oper p,
div.fjobs ul.mlist li div.oper p{
    margin: 20px 0 10px;
}
div.tindex ul.mlist li div.oper span.big {
    font-size: 22px;
    margin: 0 10px;
}
div.fjobs ul.mlist li div.oper span.big {
    font-size: 22px;
    margin: 0 10px;
}
div.tindex ul.mlist li div.oper em.ident_pic{
    right: -6px;
}
div.tindex ul.mlist li div.oper div,
div.fjobs ul.mlist li div.oper div {
    text-align: center;
    margin-top: 10px;
}
div.tindex .mlist .info p,
div.fjobs .mlist .info p{
    margin-bottom: 10px;
    width:538px;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: break-word;
    word-break: break-all;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
div.tindex .mlist .info p.lst_p{
    margin-top: 45px;
}
div.fjobs .mlist .info span.req,
div.tindex .mlist .info span.req{
    margin-left:30px;
}
div.fjobs .mlist .oper .apply_pro,
div.tindex .mlist .oper .apply_pro{
    padding:25px 0 10px 20px;
    font-size: 14px;
}
div.fjobs .mlist .oper .apply_pro p.red,
div.tindex .mlist .oper .apply_pro p.red{
    padding:0 0 10px 0;
}
div.fjobs .mlist .oper .apply_pro p strong,
div.tindex .mlist .oper .apply_pro p strong{
    font-size:24px;
    margin:0 5px 0 5px;
}
div.tindex .en_c_r {
    position: absolute;
    right: 30px;
    height: 30px;
    top:11px;
    *top:5px;
    width:400px;
}
div.tindex .en_c_r span{
    float:left;
    margin-right: 10px;
    line-height: 30px;
}
div.tindex .chos_area{
    float:left;
    position: relative;
}
div.tindex .en_c_r input.mselect{
    width:160px;
    padding:0 0 0 5px;
    border:1px solid #ddd;
}
div.tindex .en_c_r .pm{
    position:absolute;
    right:5px;
    top:10px;
}
div.tindex .ops_filter span.are_s{
  
}
div.tindex ul.mlist li div.info div.detail p{
    float: left;
    line-height: 28px;
    margin-bottom: 0;
    word-break: break-all;
    word-wrap:break-word;
}
div.tindex ul.mlist li div.info div.detail p.gray{
    width: 39px;
}
div.tindex ul.mlist li div.info div.detail p.des{
    width: 470px;
    white-space: normal;
    word-break: break-all;
    word-wrap:break-word;
}

div.tindex ul.mlist li div.info div.shdes span{
    display: block;
}
div.tindex ul.mlist li div.info div.shdes span,
div.tindex ul.mlist li div.info div.shdes div{
    float: left;
    line-height: 28px;
    margin-bottom: 5px;
    word-break: break-all;
    word-wrap:break-word;
}
div.tindex ul.mlist li div.info div.shdes span{
    width: 39px;
}
div.tindex ul.mlist li div.info div.shdes div{
    width: 470px;
    white-space: normal;
    word-break: break-all;
    word-wrap:break-word;
}
div.tindex ul.mlist li div.info div.b_bot span.s_mf{
    margin-left: 30px;
}
div.tindex ul.mlist li div.info div.b_bot span.po{
    margin: 0 5px;
}
div.tindex ul.mlist li div.info p.belong_com{
    margin: 10px 0 0 0;
}
div.tindex ul.mlist li div.info div.bname{
    margin-bottom: 5px;
}
div.tindex ul.mlist li div.oper p.l_s{
    margin-top: 30px;
}
div.tindex ul.mlist li div.oper div.lbtn,
div.fjobs ul.mlist li div.oper div.lbtn{
    width:80px;
    margin:0 auto;
}
div.tindex ul.mlist li div.oper div.lbtn1{
    margin:40px 0 15px 0;
}
/************************人才找猎头/找企业公共部分**************************/
div.tfagent .mlist span.po,
div.tfenterprise  .mlist span.po{
    margin:0 8px 0 8px;
}
div.tfagent .mlist .info .bname,
div.tfenterprise .mlist .info .bname
{
    height:30px;
}
div.tfagent .mlist .info .bname span,
div.tfenterprise .mlist .info .bname span{
    margin-right:10px;
}
div.tfagent .mlist .info  .shdes span,
div.tfenterprise .mlist .info  .shdes span{
    display: block;
    width:40px;
}
div.tfagent .mlist .info  .shdes span,
div.tfagent .mlist .info  .shdes div,
div.tfenterprise .mlist .info  .shdes div,
div.tfenterprise .mlist .info  .shdes span{
    float:left;
}
div.tfagent .mlist .info  .shdes,
div.tfenterprise .mlist .info  .shdes{
    line-height: 30px;
}
div.tfagent .mlist .info  .shdes{
    line-height: 25px;
}
div.tfagent .mlist .info  .shdes div,
div.tfenterprise .mlist .info  .shdes div{
    width:470px;
    word-break: break-all;
    word-wrap:break-word;
    overflow:hidden;
    line-height:25px;
}
div.tfagent .mlist .info .b_bot,
div.tfenterprise .mlist .info .b_bot{
    margin:10px 0 10px 0;
}
div.tfenterprise .mlist .info .b_bot span.state{
    margin-left:30px;
}
div.tfagent .mlist .info span.s_mf,
div.tfenterprise .mlist .info span.s_mf{
    margin-left:20px;
}
div.tfagent .mlist  .oper p,
div.tfenterprise .mlist .oper p{
    text-align: center;
}
div.tfagent .mlist  .oper div.lbtn,
div.tfenterprise .mlist  .oper div.lbtn{
    width:80px;
    margin:40px 0 15px 0;
}

/*人才找企业*/
div.tfagent div.ops_filter{
    position:relative;
}
div.tfagent .en_c_r,
div.tfenterprise .en_c_r {
    position: absolute;
    right: 30px;
    height: 30px;
    top:11px;
    *top:5px;
    width:400px;
}
div.tfagent .en_c_r span,
div.tfenterprise .en_c_r  span{
    float:left;
    margin-right: 10px;
    line-height: 30px;
}
div.tfagent .chos_area,
div.tfenterprise .chos_area{
    float:left;
    position: relative;
}
div.tfagent .en_c_r input.mselect ,
div.tfenterprise .en_c_r input.mselect{
    width:160px;
    padding:0 0 0 5px;
    border:1px solid #ddd;
}
div.tfagent .en_c_r .pm,
div.tfenterprise .en_c_r .pm{
    position:absolute;
    right:5px;
    top:10px;
}
div.tfenterprise ul.mlist li div.info p,
div.tfenterprise ul.mlist li div.info div{
    margin-bottom: 10px;
    width:538px;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: break-word;
    word-break: break-all;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
div.tfenterprise ul.mlist li div.info div{
    margin-bottom: 5px;
}
div.tfenterprise ul.mlist li div.info div.detail{
    margin-bottom: 10px;
}
div.tfenterprise ul.mlist li div.info div.detail p{
    float: left;
    line-height: 28px;
    margin-bottom: 0;
    word-break: break-all;
    word-wrap:break-word;
}
div.tfenterprise ul.mlist li div.info div.detail p.gray{
    width: 39px;
}
div.tfenterprise ul.mlist li div.info div.detail p.des{
    width: 499px;
    white-space: normal;
}
div.tfenterprise ul.mlist li div.oper{
    text-align: center;
    padding-top: 25px;
}
div.tfenterprise ul.mlist li div.oper div{
    margin-top: 10px;
}
/*我的简历*/
div.tpro table.tb_in input.phone,
div.tpro table.tb_in input.email{
  color:#999;
}
div.tpro div.updatedata table.tb_in input{
    background:#fff;
    cursor:default;
    border:1px solid #fff;
}
div.tpro div.updatedata table.tb_in input.phone,
div.tpro div.updatedata table.tb_in input.email{
    color:#000;
}
div.tpro h2.p_info{
    padding: 25px 0 10px 45px;
    font-size:14px;
}
div.tpro .part_bpin{
  width:100%;
}
div.tpro div.acc_opion p.sys_note{
    line-height: 20px;
    text-indent: 18px;
    padding:0 5px;
}
div.tpro table.tb_in{
    float:left;
    width:630px;
    margin-left:60px;
}
div.tpro  table td{
    padding:8px 0 8px 5px;
}
div.tpro  table td.tl{
    padding: 0 5px 0 0;
    text-align: right;
}
div.tpro table.degree_tb td.tl{
    width: 100px;
}
div.tpro .up_info{
    height: 30px;
    line-height: 30px;
    margin-left: 44px;
    padding-bottom: 6px;
    font-size: 12px;
    text-align: right;
}
div.tpro a.sv_mtn{
    line-height: 25px;
}
div.tpro .r_wm{
    margin-left:50px;
}
div.tpro .s_btn{
    height:25px;
    line-height: 25px;
    padding:0 0 15px 0;
    width:790px;
    position:relative;
    text-align: left;
}
div.tpro .s_n{
    width:80px;
    position:absolute;
    right:0;
}
div.tpro .up_info span.lf{
    padding-left:80px;
}
div.tpro .up_info span.lf a{
    text-decoration: underline;
}
div.tpro .up_info a.blue{
    font-size:14px;
    margin-right: 15px;
}
div.tpro .qua_detail{
    padding-bottom:10px;
}
/*兼职/全职*/
div.tpro a.lock_pic{
    width: 61px;
    height: 74px;
    display: block;
    overflow: hidden;
    background: url('../imgs/system/icons.png') no-repeat -130px 0;
}
div.tpro div.del_agent{
    padding:30px 0 0 20px;
}
div.tpro div.del_agent span.mg_con{
    width: 12px;
    height: 10px;
    display: inline-block;
    background: url('../imgs/system/icons.png') no-repeat 0 -255px;
    margin-left:30px;
}
div.tpro div.del_agent ul.mlist {
    border-top: none;
    margin:0 0 20px 0;
}
div.tpro div.del_agent ul.mlist li {
    padding: 20px 0 30px 0;
    border-bottom: 1px solid #DDD;
}
div.tpro div.del_agent ul.mlist li div.photo{
    padding-left:0;
}
div.tpro div.del_agent ul.mlist li div.info{
    width:470px;
    margin-left:40px;
}
div.tpro div.del_agent ul.mlist li div.info p,div.tpro div.del_agent ul.mlist li div.info div{
    margin-bottom: 10px;
    width: 538px;
    overflow: hidden;    
    word-wrap: break-word;
    word-break: break-all;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
div.tpro div.del_agent ul.mlist li div.info div{
    margin-bottom:3px;
}
div.tpro div.del_agent ul.mlist li div.info div.detail p{
    float: left;
    line-height: 28px;
    margin-bottom:0;
}
div.tpro div.del_agent ul.mlist li span.s_mf{
    margin-left:30px;
}
div.tpro div.del_agent ul.mlist li div.info div.detail p.gray {
    width: 39px;
}
div.tpro div.del_agent ul.mlist li div.info div.detail p.des {
    width: 470px;
    white-space: normal;
    word-break: break-all;
    word-wrap:break-word;
}
div.tpro div.del_agent ul.mlist li div.oper{
    width:100px;
    padding:30px 0 0 40px;
}
div.tpro img.ui-datepicker-trigger{
    cursor: pointer;
    position: absolute;
    left: 146px;
    top: 6px;
    display: none;
}
div.tpro .dis{
    color:#aaa;
}
div.tpro table.tb_in  span.pt_com,div.tpro table.tb_in span.q_com{
    padding-left:5px;
    line-height: 25px;
}
div.tpro .part_bpin input[type=text],
div.tpro .bp_inf input[type=text]{
    width:155px;
    height:25px;
}
div.tpro .part_quali,
div.tpro .bp_quali,
div.tpro .bp_exper,
div.tpro .pgrs,
div.tpro .edu{
    border-top:1px solid #ddd;
}
div.tpro .bp_position div.qjobtip{
    background-color: #fffdd8;
    width: 520px;
    padding: 13px 0 14px 200px;
    border: 1px solid #fbf5d3;
    margin: 25px 0 0 35px;
}
div.tpro .bp_position div.qjobtip div{
    border-left: 1px solid #dcdcdc;
    padding-left: 12px;
}
div.tpro .bp_position{
    *padding:25px 0 0 35px;
}
div.tpro .bp_position div.qjobtip p.pic{
    width: 34px;
    height: 34px;
    float: left;
    background: url(../imgs/system/icons.png) no-repeat -165px -231px;
    margin-left: -44px;
    margin-top: 2px;
}
div.tpro .bp_position div.qjobtip p.big{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 7px;
}
div.tpro .bp_position div.qjobtip p.small{
    font-size: 12px;
}
div.tpro h2.p_info a.jblue{
    margin-right: 35px;
}
div.tpro table.tb_cert{
    margin: 10px 0 0 30px;
    float: none;
    width: 640px;
}
div.tpro table.tb_cert td{
    padding: 10px 15px 10px 0px;
}
div.tpro table.tb_cert td.lst_td{
    vertical-align: top;
}
div.tpro table.tb_cert tr.lst_tr td{
    padding-top: 15px;
    padding-bottom: 10px;
}
div.tpro table.tb_cert tr.lst_tr td.tl{
    vertical-align: top;
}
div.tpro  .had_qua{
    margin:10px 0 0 68px;
}
div.tpro  .had_qua .qua_list{
    padding: 20px 0 0 0;
}
div.tpro  .had_qua .qua_list  a.adn_cancle,
div.tpro  .had_qua .qua_list a.d_cert,
div.tpro  .had_qua .qua_list  a.adn_qa{
    margin-left:10px;
}
div.tpro  .had_qua .qua_list span.tl{
    display: inline-block;
    text-align: right;
    padding:0 15px 0 0;
}
div.tpro table.tb_cert td.ltd{
    text-align: right;
    padding-right: 15px;
    width: 103px;
}
div.tpro input#p_qq{
    width:200px;
}
div.tpro table.tb_cert td a.delqual,
div.tpro table.tb_cert td a.sq_qua,
div.tpro table.tb_cert td a.addqual{
    margin-left:10px;
}
div.tpro table.tb_cert td.ltd span{
    display: inline-block;
    text-align: right;
}
div.tpro table.tb_cert td.lop{
    vertical-align: top;
}
div.tpro table.tb_cert td.r_z span{
    display: inline-block;
    width:300px;
    height:25px;
    line-height: 25px;
}
div.tpro table.tb_cert input{
    width:280px;
    height:25px;
}
div.tpro table.tb_cert td input.defpay{
    width: 75px;
    height: 22px;
    margin-right: 5px;
}
div.tpro table.tb_cert  span.expal{
    margin-right:10px;
}
div.tpro table.tb_cert select#job_salary{
    width:85px;
    border:1px solid #ddd;
    margin-right: 10px;
}
div.tpro table.tb_cert span.exp_sal{
    height:25px;
    line-height: 25px;
    margin-right:10px;
}
div.tpro .part_quali span#expec_in{
    width:400px;
    overflow: hidden;
    word-break: break-all;
    word-wrap:break-word;
    display: inline-block;
}
div.tpro #ful_pinfo input#q_bf{
    padding-right:6px;
}
div.tpro table.tb_cert textarea{
    width:308px;
    height:120px;
    padding:0 0 0 5px;
}
/*求职岗位*/
div.tpro .bp_position input[type=text]{
    width:300px;
}
div.tpro .bp_position input#q_area{
    width:280px;
}
div.tpro .bp_position span#jpo_pay{
    margin-right:10px;
}
div.tpro .bp_position select#q_salary{
    width:80px;
    border:1px solid #ddd;
    margin-right:10px;
}
div.tpro .bp_position table.tb_cert td.job_des{
    vertical-align: top;
    padding-top:10px;
}
div.tpro .bp_position span#jpo_da{
    width:400px;
    overflow: hidden;
    word-wrap:break-word;
    word-break: break-all;
    display: inline-block;
}
div.tpro  table.tb_cert td img,
div.tpro  table.tb_cert td img{
    margin-left:8px;
}
div.tpro  table.tb_cert td.fpos a.blue{
    display: none;
}
/*学历情况*/
div.tpro .edu  table.tb_cert input#be_time,
div.tpro .edu  table.tb_cert input#end_time{
    width:100px;
    padding-right:15px;
}
div.tpro .edu img.ui-datepicker-trigger{
    left:90px;
}
/*证书情况*/
div.tpro .bp_quali .had_qua{
    margin-left: 65px;
    padding-top: 20px;
}
div.tpro .bp_quali .had_qua .qua_list span.tl{
    padding:0 15px 0 0;
}
div.tpro .bp_quali span#fult_de{
    width:400px;
    overflow: hidden;
    word-break: break-all;
    word-wrap:break-word;
    display: inline-block;
}
div.tpro table.jt_tb td.ltd{
    width: 100px;
}
/*工作经验*/
div.tpro  .bp_exper table.t_ce{
    margin: 0 0 0 65px;
}
div.tpro  .bp_exper table.t_ce td.tl{
    padding: 0 10px 0 0;
}
div.tpro  .bp_exper  a.adexper,
div.tpro  .bp_exper  a.canexper
{
    float:right;
}
div.tpro div.p_info
{
    height: 30px;
    padding: 30px 0 20px 48px;
    font-size: 14px;
}
div.tpro  .bp_exper div.p_info h2{
    width:120px;
}
div.tpro  .bp_exper table.t_ce td.lop{
    vertical-align: top;
    padding-top:10px;
}
div.tpro .bp_exper input#exp_bdate,
div.tpro .bp_exper input#exp_endate{
    width:100px;
}
div.tpro .bp_exper span.work_detail{
    display: inline-block;
    width:450px;
    word-wrap:break-word;
    word-break: break-all;
}
div.tpro .bp_exper  table.tb_cert td img,
div.tpro .bp_exper  table.tb_cert td img{
    margin-left:8px;
}
div.tpro .bp_exper input#job_depart,
div.tpro .bp_exper input#job_hold,
div.tpro .bp_exper input#exp_cname,
div.tpro .bp_exper input#exp_trade
{
    width:150px;
}
div.tpro .bp_exper select{
    width:120px;
}
div.tpro .bp_exper  table.tb_cert td.lop{
    padding-top:10px;
}
div.tpro .bp_exper table.tb_cert textarea{
    width:285px;
}
div.tpro .bp_exper .had_exp a.delexp{
    margin-right:20px;
}
div.tpro .bp_exper  table.tb_cert input#exp_bdate,
div.tpro .bp_exper  table.tb_cert input#exp_endate{
    width:100px;
    padding-right:15px;
}
div.tpro .bp_exper img.ui-datepicker-trigger{
    left:90px;
}
div.tpro table.exp_tb{
    width: 740px;
}
div.tpro table.exp_tb td.tl{
    width: 101px;
}
/*工程业绩*/
div.tpro .pgrs  table.tb_cert input#pjstart,
div.tpro .pgrs  table.tb_cert input#pjstoped{
    width:100px;
    padding-right:15px;
}
div.tpro .pgrs img.ui-datepicker-trigger{
    left:90px;
}
div.tpro  .pgrs table.t_pf{
    margin: 10px 0 0 29px;
    width:100%;
}
div.tpro  .pgrs table.t_pf td.tl{
    padding: 0 10px 0 0;
    width: 101px;
}
div.tpro  .pgrs span.work_detail{
    width:400px;
    word-wrap:break-word;
    word-break: break-all;
    display: inline-block;
}
div.tpro  .pgrs  a.adprs,
div.tpro  .pgrs  a.prs_cancle
{
    float:right;
}
div.tpro  .pgrs .dele_prgs {
    margin-right:40px;
}
div.tpro  .pgrs div.p_info h2{
    width:120px;
}
div.tpro  .pgrs table.t_pf td.lop{
    vertical-align: top;
    padding-top:10px;
}
div.tpro .pgrs input#pjstart,
div.tpro .pgrs input#pjstoped{
    width:120px;
}
div.tpro  .pgrs select{
    width:120px;
}
div.tpro .pgrs  table.tb_cert td.lop{
    padding-top:7px;
}
div.tpro .pgrs table.tb_cert textarea{
    width:285px;
}


/*发布方式*/
div.tpro .pb_op{
    border-top:1px solid #ddd;
}
div.tpro .pb_op a.btn{
    line-height: 40px;
}
div.tpro .pb_op h2.p_info{
    padding: 15px 0 10px 45px;
    font-size: 14px;
}
div.tpro .me_or{
    width:30px;
    height:30px;
    margin:40px 0 0 0;
    font-size:16px;
}
div.tpro .pb_s{
    margin: 30px 90px 0 160px;
}
div.tpro   .pb_a{
    margin:30px 0 0 90px;
}
div.tpro .pb_s,
div.tpro .pb_a{
    width:120px;
}
div.tpro .pb_s div.btn7 a,
div.tpro .pb_a div.btn7 a{
    color:#aaa;
}
div.tpro div.t_l p{
    line-height: 30px;
}
div.tpro .l_tip{
    margin: 15px 0 0 160px;
}
div.tpro .r_tip{
    margin:15px 70px 0 0;
}
div.tpro .pb_op a.btn{
    font-size: 18px;
    word-spacing: 2px;
}
/*关注，私信样式*/
div.tpro ul.mlist li div.photo{
    position: relative;
}
div.tpro ul.mlist li div.follow{
    position:absolute;
    top:10px;
    left:70px;
    width:55px;
    overflow: hidden;
}
div.tpro ul.mlist li div.follow div.f_t,
div.tpro ul.mlist li div.follow div.f_b
{   width:55px;
    position: relative;
    height:20px;
    white-space: nowrap;
    overflow: hidden;
    margin-left:-55px;
}
div.tpro ul.mlist li div.follow  div span{
    display: inline-block;
}
div.tpro ul.mlist li div.follow  div span.mf{
    float:left;
}
div.tpro ul.mlist li div.follow  div a{
    color:#fff;
    position: absolute;
    top:0;
    left:-8px;
    width:100%;
    height:100%;
    font-size:12px;
    line-height:20px;
}
div.tpro ul.mlist li div.follow  div.b_t,
div.tpro  ul.mlist li div.follow  div.b_o{
    margin-left:-55px;
}
div.tpro  ul.mlist li div.follow  div.b_t{
    border-bottom:1px solid #44a7e7;
    width:17px;
    height:0;
}
div.tpro ul.mlist li div.follow  div.b_o{
    width:17px;
    height:0;
    border-top:1px solid #1581c5;
}
div.tpro ul.mlist li div.follow  div.f_t span.dr,
div.tpro ul.mlist li div.follow  div.f_b span.fr
{
    background: url('../imgs/system/icons.png');
    background-repeat:no-repeat;
    background-position:-230px -94px;
    height: 8px;
    width: 12px;
    position: absolute;
    top:7px;
    left:38px;
}
div.tpro ul.mlist li div.follow  div.f_b span.fr{
    background-position: -230px -129px;
}
div.tpro ul.mlist li div.follow  div span.mf{
    height: 20px;
    width: 51px;
    background: #1891DE;
}
div.tpro ul.mlist li div.follow  div span.lf{
    width: 4px;
    height: 24px;
    background-image: url('../imgs/system/icons.png');
    background-repeat: no-repeat;
}
div.tpro ul.mlist li div.follow  div.f_t span.lf{
    background-position:-193px -116px;
}
div.tpro ul.mlist li div.follow  div.f_b span.lf{
    background-position: -199px -116px;
}
div.tpro ul.mlist li div.follow  div.f_b span.hoved,
div.tpro ul.mlist li div.follow  div.f_t span.hoved{
    background-position: -205px -116px;
}
div.tpro div.photo img.bg_rd{
    border-color: #fff;
    -webkit-box-shadow:0px 1px 3px #666;
    -moz-box-shadow:0px 1px 3px #666;
    -o-box-shadow:0px 1px 3px #666;
    -khtml-box-shadow:0px 1px 3px #666;
}
/*已关注*/
div.tpro ul.mlist li div.hflow div.b_t{
    border-bottom:1px solid #4fd21f;
}
div.tpro ul.mlist li div.hflow div.b_o{
    border-top:1px solid #40b216;
}
div.tpro ul.mlist li  div.hflow div.f_t span.dr{
    background-position:  -230px -111px;
}
div.tpro ul.mlist li div.hflow div span.mf{
    background: #3abc0b;
}
div.tpro ul.mlist li  div.hflow div span.lf{
    width: 4px;
    height: 24px;
    background-image: url('../imgs/system/icons.png');
    background-repeat: no-repeat;
}
div.tpro ul.mlist li div.hflow div.f_t span.lf{
    background-position:-211px -116px;
}
div.tpro ul.mlist li  div.hflow div.f_b span.lf{
    background-position: -217px -116px;
}
div.tpro ul.mlist li div.hflow div.f_b span.hoved,
div.tpro ul.mlist li div.hflow div.f_t span.hoved{
    background-position: -223px -116px;
}
div.tpro div.identify{
    padding:10px 0 10px 5px;
}
/********************************* 我的证书 *********************************/
div.mycert div.t_item p.blue{
    margin: 30px 0 0 40px;
    font-size: 15px;
}
div.mycert table.tb{
    margin: 35px 0 25px 85px;
    width: 585px;
}
div.tpro table.tb_nt{
    width:695px;
}
div.mycert table.tb td.ltd{
    text-align: right;
    padding-right: 20px;
    width: 90px;
}
div.mycert table.tb td{
    padding-bottom: 25px;
    vertical-align: top;
}
div.mycert table.tb td div{
    padding-bottom: 10px;
}
div.mycert table.tb td div.qual_cont{
    padding-bottom: 0;
}
div.mycert table.tb td div a.blue{
    display: block;
    width: 60px;
    float: right;
}
div.mycert table.tb td input{
    height: 25px;
}
div.mycert table.tb td input.mselect{
    width: 340px;
    margin-right: 20px;
}
div.mycert table.tb td input[type='file']{
    margin-left: 15px;
    color:#fff;
    *color:#888;
}
div.mycert div.t_item p.liner {
    height: 1px;
    border-bottom: 1px solid #DDD;
    width: 770px;
    margin-left: 10px;
}
div.mycert div.t_item div.add_tal{
    width: 80px;
    margin: 0 0 40px 205px;
}
div.mycert div.t_item div.add_tal a.btn{
    line-height: 25px;
}
div.mycert table.tb_cert td div.tip{
    padding-bottom: 0;
}
div.mycert table.tb_cert td div.msg{
    padding-bottom: 5px;
}
/*******************************找职位********* joe ******************************************/
div.sm_tab ul{
    left:0;
}
div.fjobs div.se_list a:hover,
div.fjobs div.module_4 a:hover{
    text-decoration:underline;
}
/****************热点职位搜索start*************************/
div.fjobs div.job_search{
    background-color:#f6f6f6;
    margin-top:10px;
    padding:20px 0 20px 30px;
    border:1px solid #cdcdcd;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius: 2px;
}
div.fjobs div.se_box div.kws{
    height: 26px;
    padding:6px 0 0 5px;
    display: inline-block;
    border: 1px solid #cdcdcd;
    float:left;    
    background-color: #fff;
}
div.fjobs div.se_box input{
    width:505px;
    height:22px;
    font-size:14px;    
    border:0;
}
div.fjobs div.se_result div.header em,
div.fjobs div.se_box a.se_btn{
    background:url(../imgs/system/vbutton.png) no-repeat;
}
div.fjobs div.se_box a.se_btn{
    width:115px;
    height: 36px;
    margin:-1px 10px;
    background-position:0 -50px;
    display: inline-block;
}
div.fjobs div.se_box a.se_btn:hover{
    background-position:-117px -50px;
}
div.fjobs div.se_box a{
    line-height:36px;
}
div.fjobs div.se_box a em{
    display:inline-block;
    width:10px;
}
div.fjobs div.hot_words,
div.fjobs ul.se_more li,
div.fjobs ul.se_more{
    margin-top:10px;
}
div.fjobs ul.se_more{
    padding-top:5px;    
    border-top:1px dashed #cdcdcd;
}
div.fjobs ul.se_more input.mselect{
    background-color:#fff;
}
div.fjobs div.hot_words span.gray{
    padding-right:5px;
}
div.fjobs ul.se_more span.gray{
    padding-right:20px;
}
div.fjobs div.hot_words a,
div.fjobs ul.se_more li a{
    color:#00589a;
    display:inline-block;
    padding-right: 20px;
}
div.fjobs div.hot_words a:hover,
div.fjobs ul.se_more li a:hover,
div.fjobs div.se_box a.m:hover{
    text-decoration:underline;
}
div.fjobs ul.se_more li a.sel{
    color:#000;
}
div.fjobs div.se_result div.header a.sel,
div.fjobs div.se_result div.header a:hover,
div.fjobs div.se_result div.header{
    background:url(../imgs/system/button.png) repeat-x;
}
div.fjobs div.se_result div.header{
    margin:10px 0 10px 0;
    line-height:28px;
    *line-height:26px;
    border:1px solid #dcdcdc;
    background-position:0 -3653px;
    position:relative;    
    *position:static;
}
div.fjobs div.se_result div.header span.gray,
div.fjobs div.se_result div.header a{
    display:inline-block;
    padding:0 10px;
    border-right:1px solid #dcdcdc;
    float:left;    
    *position:relative;
}
div.fjobs div.se_result div.header a.rf{
    float:right;
    border-right:none;
    border-left:1px solid #dcdcdc;
}
div.fjobs div.se_result div.header span.pages{
    margin-right:5px;
}
div.fjobs div.se_result div.header a.gray{
    color:#ccc;
}
div.fjobs div.se_result div.header a.sel,
div.fjobs div.se_result div.header a:hover{
    background-position:0 -3684px;
}
div.fjobs div.se_result div.header a.gray:hover{
    background-position:0 -3653px;
}
div.fjobs div.se_result div.header em,
div.fjobs div.se_result div.header a.count em.down,
div.fjobs div.se_result div.header a.count em.down_hov{
    display:inline-block;
    float:right;
    *float:none;
    width:10px;
    height:22px;    
    background-position:-258px -57px;
    margin-left:5px;
    position:static;
}
div.fjobs div.se_result div.header a.count em.down_hov{
    background-position:-246px -57px;
}
div.fjobs div.se_result div.header a.count_gray em.down{
    background-position: -234px -57px;
}
div.fjobs div.se_result div.header em.up,
div.fjobs div.se_result div.header em.down,
div.fjobs div.se_result div.header em.up_hov,
div.fjobs div.se_result div.header em.down_hov,
div.fjobs div.se_result div.header em.down_sel,
div.fjobs div.se_result div.header em.up_sel{
    height:12px;    
    clear: both;
    background-position:-270px -58px;
    margin-top:2px;
}
div.fjobs div.se_result div.header em.up,
div.fjobs div.se_result div.header em.up_hov,
div.fjobs div.se_result div.header em.up_sel,
div.fjobs div.se_result div.header a.count em{
    *position:relative;
    *top:-10px;
    *left:5px;
}
div.fjobs div.se_result div.header em.up_hov{
    background-position:-282px -58px;
}
div.fjobs div.se_result div.header em.up_sel{
    background-position:-295px -58px;
}
div.fjobs div.se_result div.header em.down,
div.fjobs div.se_result div.header em.down_hov,
div.fjobs div.se_result div.header em.down_sel{
    position:absolute;
    top:12px;
    *left:66px;
    background-position:-270px -73px;
    border-top: 1px solid #cdcdcd;
}
div.fjobs div.se_result div.header a.count em.down_hov,
div.fjobs div.se_result div.header a.count em.down,
div.fjobs div.se_result div.header a.count em.down_sel{    
    margin-top:0;
    top:0;    
    border-top:none;    
}
div.fjobs div.se_result div.header em.down_hov{
    background-position:-295px -73px;
}
div.fjobs div.se_result div.header em.down_sel{
    background-position:-282px -73px;     
}
div.fjobs div.se_result div.header span.auth{
    cursor:pointer;
}
div.fjobs div.se_result div.header span.auth em{
    width:14px;
    height:16px;
    float:left;
    margin:5px 5px 0 10px;
    background:url(../imgs/system/slticons.png) no-repeat -2px -65px;
}
div.fjobs div.se_result div.header span.cancel em{
    background-position:-2px -45px;
}
div.fjobs div.se_list li{
    border-bottom:1px dashed #cdcdcd;    
}
div.fjobs div.se_list li.no-data{
    text-align: center;
    line-height: 16px;
    height: 160px;
}
div.fjobs div.se_list li.no-data p{
    width: 185px;
    height: 35px;
    position: absolute;
    top: 50%;
    left: 54%;    
    text-indent: 45px;
    margin-top: -18px;
    margin-left: -18px;
}
div.fjobs div.se_list div.identify,
div.fjobs div.se_list div.identify span{
    text-align:center;    
}
div.fjobs div.se_list div.identify span{
    width:45px;    
    line-height: 22px;
}
div.fjobs div.se_list li:hover{
/*    background-color:#f6f6f6;*/
}
div.fjobs div.se_list p{
/*    margin-bottom:5px;*/
    line-height: 22px;
}
div.fjobs div.se_list p.first{
   margin-bottom:10px;   
   font-size:14px;
   white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
div.fjobs div.se_list div.info{
    margin-right:20px;
    width:510px;
}
div.fjobs div.se_list div.info span.place,
div.fjobs div.se_list div.info span.resou{
    *display:inline;
    display:inline-block;
    width:40px;
}
div.fjobs div.se_list div.info span.resou{
    width:83px;
}
div.fjobs div.se_list div.oper div.btn22{
    width:80px;
    margin:0 auto;
    margin-top: 5px;
}
 div.fjobs div.se_list div.oper div.btn22 a:hover,
 div.fjobs div.se_list div.oper div.btn22_hov a:hover{
    text-decoration:none;
}
/******翻页样式重写 start******/
div.fjobs div.pagination .current{
    border:none;
}
div.fjobs .current{
    background:none;
    color:#000;
}
div.fjobs .pagination a{
    border:none;
    color:#00589a;
}
div.fjobs .pagination a:hover{
    text-decoration:underline;
}
div.fjobs .pagination .current.prev,
div.fjobs .pagination .current.next{
    color:#686868;
}
div.fjobs div.pages{
    margin-bottom: 50px;
}
div.fjobs div.pages div.pagination{
    top: 20px;
}
/******翻页样式重写 end*******/
div.se_result ul.mlist{
    border-top:0;
/*    min-height: 1545px;*/
}
div.se_result img.psmall{
    border:1px solid #cdcdcd;
}
/****************热点职位搜索end*************************/