/*
    Document   : promote_1.0
    Created on : 2011-12-22, 1:02:17
    Author     : Jack
    Description:Purpose of the stylesheet follows.
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
/* 浅灰色边框样式 */
.bder{
    border: 1px solid #e8e8e8;
}
.cp{
    padding-bottom:40px;
}
.cp h2{
    padding:20px 0 20px 20px;
}
.cp h2 span{
    font-size:16px;
}
.cp h2 span.gray{
    font-size:18px;
}
.cp h2 span.gray em.nm{
    font-size:24px;
    margin:0 10px 0 0;
    font-style:italic;
}
.Ct .lf{
    margin-right:15px;
}
.Ct .cl{
    width:360px;
    height:250px;
    background:url('../imgs/system/promotion.png') no-repeat -21px -500px;
    margin-left:20px;
}
.Ct .Zn{
    height: 250px;
    background-position: -19px -750px;
}
.Ct .cr{
    width:360px;
    padding:15px 0 0 0;
}
.Ct .zcr{
    padding-top:15px;
}
.Ct .cr select{
    width:60px;
    margin-right: 5px;
}
.Ct .cr p{
    line-height: 22px;
    margin:0 0 10px 0;
}
.tc{
    margin-top: 40px;
    width:130px;
}
.tc a.gs{
    color:#aaa;
    cursor: default;
}
.tc a.gs:hover{
    color:#aaa;    
}
a.Nb:hover{
  text-decoration:underline;
}
.tc a.btn{
    line-height: 40px;
    font-size:18px;
}
.mt{
    margin: 10px 0 30px 20px;
    /*height: 130px;*/
    overflow: hidden;
    border-bottom: 1px solid #DDD;
    padding-bottom: 15px;
}
.mt .r_d{
    padding:10px 20px 0 30px;
    text-align: center;
}
.mt .r_d .r_bg{
    width:44px;
    margin:0 0 5px 12px;
    height:53px;
    background: url('../imgs/system/icons.png') no-repeat -97px -186px;
}
.mt .r_d p.green{
    font-size:16px;
}
.mt .mp{
    padding:10px 0 10px 40px
}
.mt .mp div.l_s{
    line-height: 40px;
    white-space: nowrap;
}
.mt .mp div.l_s span{
    display: inline-block;
    margin-right:15px;
    overflow: hidden;
}
.mt .mp div.l_s span.c_t,
.mt .mp div.l_s span.p_t{
    width:100px;
}
.mt .mp div.l_s span.u_s{
    width:150px;
}
.cp h2.info_t{
    padding-top:0;
}
.cp .nl{
    background-position:-19px 0;
}
/***猎头信息推广顶部**/
.Ap .mp{
    padding:10px 0 0 20px;
    width:630px;
}
.Ap .mt .mp div.l_s span.p_t,
.Ap .mt .mpdiv.l_s span.c_t
{
    width:80px;
}
.Ap .mt .mp div.l_s span.u_s{
    width:100px;
}
.Ap .mt .mp  div.l_s{
    line-height: 35px;
}
/****企业***/
.cp .nr{
    width:380px;
}

.cp .nr p.gray{
    line-height:22px;
    margin:0 0 15px 0;
}
.cp .nr p.gray em.tg{
    display:inline-block;
    width: 14px;
    height: 20px;       
    margin:0 5px;
    background: url('../imgs/system/icons.png') no-repeat -141px -317px;
}
table.inf_show{
    margin-top: 40px;
}
table.inf_show td{
    width:120px;
    text-align: center;
    padding:5px 10px 5px 10px;
    border:1px solid #eee;
}
table.fee td{
    text-align: center;
    border:1px solid #eee;
    padding: 10px 20px;
}
table td.no_t{
    border-top:none;
}
table td.no_l{
    border-left:none;
}
table td.no_r{
    border-right:none;
}
table td.no_b{
    border-bottom: none;
}
.cp .nr p.note{
    margin-top:15px;
}
table.fee{
    width:755px;
    margin: 50px 0 15px 40px;
}
table.fee td.no_r{
    text-align: left;
}
.cp p.note{
    margin:0 0 60px 60px;
}
.cp .C_re{
    background-position: 0 -255px;
}
.Ep .cp .bn{
    background-position:0 -765px;
    position:relative;
}
.Ep .cp .bn div{
    position: absolute;
    width: 50px;
    height: 45px;
    color: white;
    font-size: 32px;
    text-align: center;
    opacity: 0.3;
    filter:alpha(opacity=30);
    cursor: pointer;
    background: #C00;
    top: 52px;
}
.Ep .cp .bn div.hco{
    background:#2eaf00;
}
.Ep .cp .cr span.fc em{
    margin:0 8px 0 8px;
}
.Ep .cs{
    color:#76b704;
}
/*选中购买*/
.Ep .cp .bn div.chosen{
    opacity:1;
    filter:alpha(opacity:1000);
    background:url('../imgs/system/icons.png') no-repeat -191px 0;
    color: transparent;
}
.Ep .cp .cr div.fee_tps{
    margin:0 0 10px 0;
}
.Ep .cp .cr ul.ptip li{
    float:left;
    position:relative;
    width:110px;
    margin:10px 5px 5px 0;
}
.Ep .cp .cr ul.ptip li span.gc{
    display: inline-block;
    background-image:url('../imgs/system/icons.png');
    background-repeat: no-repeat;
    background-position:0 0;
    overflow:hidden;
}
.Ep .cp .cr ul.ptip li span.gray{
    position:absolute;
    display: inline-block;
    margin-left:10px;
    line-height:22px;
}
.Ep .cp .cr ul.ptip li span.no_b{
    height: 20px;
    width: 28px;
    background-position: -143px -186px;
}
.Ep .cp .cr ul.ptip li span.byed{
    height: 23px;
    width: 23px;
    background-position: -97px -241px;
}
.Ep .cp .cr ul.ptip li span.btp{
    height: 20px;
    width: 19px;
    background-position: -122px -239px;
}
/*可选的*/
.Ep .cp .bn div.cur{
    background:#3ba6dd;
}
/*已被占用*/
.Ep .cp .bn div.dis{
    cursor: default;
}
/*自己占用的*/
.Ep .cp .bn div.owned{
    background: url('../imgs/system/icons.png') no-repeat -191px -45px;
    opacity:1;
    filter:alpha(opacity:1000);
    cursor: default;
}
.Ep .cp .bn div.a_5,
.Ep .cp .bn div.a_6,
.Ep .cp .bn div.a_7,
.Ep .cp .bn div.a_8{
    top:102px;
}
.Ep .cp .bn div.a_9,
.Ep .cp .bn div.a_10,
.Ep .cp .bn div.a_11,
.Ep .cp .bn div.a_12{
    top:153px;
}
.Ep .cp .bn div.a_13,
.Ep .cp .bn div.a_14,
.Ep .cp .bn div.a_15{
    top:203px;
}
.Ep .cp .bn div.a_1,
.Ep .cp .bn div.a_5,
.Ep .cp .bn div.a_9,
.Ep .cp .bn div.a_13
{
    left:60px;
}
.Ep .cp .bn div.a_2,
.Ep .cp .bn div.a_6,
.Ep .cp .bn div.a_10,
.Ep .cp .bn div.a_14{
    left:120px;
}
.Ep .cp .bn div.a_3,
.Ep .cp .bn div.a_7,
.Ep .cp .bn div.a_11,
.Ep .cp .bn div.a_15{
    left:180px;
}
.Ep .cp .bn div.a_4,
.Ep .cp .bn div.a_8,
.Ep .cp .bn div.a_12{
    left:240px;
}
.Ep .upload{
    position:relative;
    padding:20px 10px 30px 30px;
}
.Ep .up_fileBox,
.Ep .fm,
.Ep #up_avatar_left{
    border:1px dashed #c00;
    text-align: center;
    overflow: hidden;
    margin:30px 20px 40px 50px;
}
.Ep .fam_tip{
    width:350px;
    height:200px;
    margin:20px 0 0 70px;
}
.Ep .fam_tip .sf{
    width:75px;
    margin-top:25px;
}
.Ep  .sf a.btn{
    line-height: 25px;
}
.Ep .fam_tip p.gray em.cs{
    margin-right:5px;
}
.Ep .fam_tip p{
    margin: 10px 0 10px 0;
    line-height: 20px;
}
.Ep .up_fileBox,
.Ep .fm{
    height:180px;
    width:220px;
    position:relative;
}
.Ep .up_fileBox input,
.Ep .up_fileBox div.sf
{
    position: absolute;
    width:75px;
    left:75px;
    height:25px;
}
.Ep .fam_tip input[type='file']{
    position: absolute;
    top:0;
    width:75px;
    height:25px;
    filter:alpha(opacity:0);
}
.Ep  input[type='file']{
    opacity:0;
    filter:alpha(opacity:0);
}
.Ep .up_fileBox p.cs{
    padding:5px 0 5px 0;
}
.Ep .up_fileBox p.num{
    padding: 60px 0 15px 0;
}
.Ep div.fm img.mbig{
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    border:none;
}
div.t_container div.sys_note{
    line-height: 28px;
    margin-top: 10px;
    text-indent: 20px;
    background-color:#FFFFE5;
    color: #C99414;
    border: 1px #F7F6D4 solid;
}