/* 
    Document   : report_1.0.css
    Created on : 2012-5-9, 11:15:45
    Author     : jiang
    Description:
        Purpose of the stylesheet follows.
*/
html, body {
text-align: left;
background-color: #fff;
}
div.bheader div.bh_cont a.report{
left: 40px;
}
div.re_main,div.bheader div.bh_cont div.abs{
    width:500px;
    position: absolute;
    left:50%;
    top:70px;
    margin-left:-250px;    
}
div.bheader div.bh_cont div.abs{
    top:0px;
}
div.re_main h1{
    line-height:24px;
    font-size: 16px;
    border-bottom: 1px solid #cdcdcd;
}
div.re_main div.notice p{
    line-height: 20px;
}
div.re_main div.reported_info{
    height:70px;
    padding:5px 10px;
    margin-top:10px;
    background-color: #F5F5F5;
    
}
div.re_main div.reported_info div.photo,
div.re_main div.reported_info div.photo img{
    width:65px;
    height:65px;
    float: left;
}
div.re_main div.reported_info div.photo{
    margin-top:3px;
}
div.re_main div.reported_info div.user_info,
div.re_main div.reported_info div.report_title{    
    width: 380px;
    float: left;
    margin-left:10px;
}
div.re_main div.reported_info div.user_info div.t_user{
    width:100%;
    float: left;
    margin-top:6px;
}
div.re_main div.reported_info div.user_info span.blue{
    padding-right: 10px;
}
div.re_main div.reported_info div.report_title,
div.re_main div.notice{
    margin-top:10px;
}
div.re_main div.reported_info div.user_info span{
    float:left;
}
div.re_main div.report_type h3{
    margin:15px 0 5px 0;
}
div.re_main div.report_type table,
div.re_main div.report_type textArea{
    width:100%;
}
div.re_main div.report_type table td{
    padding:5px 0;
    cursor:pointer;
}
div.re_main div.report_type textArea{
    color:#686868;
    text-align: left;
    height: 60px;
}
div.re_main div.report_type span.note{    
    display: block;
    margin:5px 0;
}
div.re_main div.reportsub{
    width: 120px;
}