/* 
    Document   : scrule_1.0 
    Created on : 2012-7-22, 12:36:28
    Author     : jiang
    Description:
        积分规则说明
*/
div.sc_rule h1{
    font-size:18px;
    border-bottom:2px solid #00589a;    
}
div.sc_rule div.to_use,
div.sc_rule div.rule{
    margin-top:10px;
}
div.sc_rule h2,
div.sc_rule h3{
    font-size:14px;
    margin-bottom:10px;
}
div.sc_rule div.reward h3{
    color:#3f9704
}
div.sc_rule div.to_use div.scro{
    width:260px;
    height:30px;
    margin-top:-40px;
    *margin-top:-30px;
}
div.sc_rule div.to_use div.scro div.btn14,
div.sc_rule div.to_use div.scro div.btn14_hov{
    width:90px;
    margin-top:10px;
    *margin-top:-20px;
}
div.btn14 a.btn, .btn14_hov a.btn{
    line-height:25px;
    color:#9e5f0e;
}
div.sc_rule div.to_use div.scro em.g{
    display: inline-block;
    width: 35px;
    height: 26px;
    margin-right: 10px;
    background: url(../imgs/system/icons.png) no-repeat 0px -320px;
    position: relative;
    top: 9px;
    *top:5px;
}
div.sc_rule div.to_use li{
    height:25px;
    line-height:25px;
    padding-left:35px;
}
div.sc_rule div.to_use li em{
    font-weight:bold;
}
div.sc_rule div.to_use li span.red{
    padding:0 20px;
}
div.sc_rule table{
    width:100%;    
}
div.sc_rule table tr.bg{
    background-color:#f1f9fd;
}
div.sc_rule table td{
    height: 30px;
    line-height:30px;
}
div.sc_rule table td.num{
    width:110px;
    text-indent:40px;    
}
div.sc_rule table td.r{
    width:215px;
}
div.sc_rule table td.s{
    width:150px;
}
div.sc_rule table td.unit{
    width:135px;
}
div.sc_rule table td em.sub,
div.sc_rule table td em.add{
    display: inline-block;
    width:10px;
    height:10px;
    margin-right:10px;
    background:url(../imgs/system/icons.png) no-repeat -36px -317px;
}
div.sc_rule table td em.sub{
    background-position:-36px -332px;
}
div.sc_rule div.reward{
    padding-bottom:15px;
    border-bottom:1px dashed #cdcdcd;
}
div.sc_rule div.punish{
    margin:10px 0 30px 0;
}
